<a class="nav-link" id="v-pills-zone-tab" data-toggle="pill" [routerLink]="[inListID]" role="tab" aria-controls="v-pills-zone"
    routerLinkActive="active">
    <h4 class="list-group-item-heading">{{existingZone.name}}</h4>
</a>