table {
    width: 100%;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .spanGeo {
    position: relative;
    left: 75px;
  }

  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .dashboard-card-content {
    text-align: center;
  }

  .grid-container {
    margin: 20px;
  }

  .map{
    width: 100%;
    height: 50%;
  }
  

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }

  .spanid{
    position: relative;
    left: 15px;
  }


  span.zeleno{
    color: rgb(10, 245, 10);
  }

  span.crveno{
    color: rgb(255, 0, 0);
  }