.container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 70%;
    background-color: white;
    align-items: center;
    display: flex;
}

@media (max-width: 930px) {
    .container-fluid {
        padding-top: 3vh;
        padding-bottom: 10vh;
        width: 100%;
        height: 100%;
        background-color: white;
    }
}

.outer-container {
    display: table;
    position: absolute;
    height: 93%;
    width: 100%;
}

body {
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}