<div id="map" class="map"></div>

<mat-toolbar color="primary">
  <!-- <app-dialog-sensor [parkingId]="id"></app-dialog-sensor> -->
  <button mat-raised-button color="warn">Dodaj naplatni uređaj</button>
</mat-toolbar>

<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="150px">
    <mat-grid-tile *ngFor="let payingDevice of payingDevices; let i = index" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Geografske koordinate <span class="spanGeo"> Širina: {{payingDevice.latitude}} Dužina: {{payingDevice.longitude}}
            </span>
            <button color="warn" mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>edit</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Uredi</button>
              <button mat-menu-item>Izbriši</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- <div>
            <span>Zauzetost mjesta:
              <ng-container *ngIf="sensor.occupied; else elseTemplate">
                  <span class="crveno"><strong> Mjesto je zauzeto!</strong></span>
              </ng-container>
              <ng-template #elseTemplate>
                <span class="zeleno"><strong>Mjesto nije zauzeto!</strong></span>
              </ng-template>
            </span>
            <span class="spanid">
              Senzor ID: ({{sensor.id}})
            </span>
          </div> -->

          <span class="spanid">
           Informacije o naplatnom uređaju: <strong>{{payingDevice.info}}</strong>
          </span>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>