<h2 mat-dialog-title>Novi parking</h2>
<mat-dialog-content class="mat-typography">
<!--     <p>Enabled</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.parking.enabled">
  </mat-form-field> -->

  <!-- <p>Id</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.parking.id">
  </mat-form-field> -->

<!--   <p>Max spaces</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.parking.maxSpaces">
  </mat-form-field> -->

  <p>Name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.parking.name">
  </mat-form-field>

 <!--  <p>Occupied spaces</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.parking.occupiedSpaces">
  </mat-form-field> -->

  <p>Zone ID</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.parking.zoneId">
  </mat-form-field>

  <p>Latitude</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.parking.latitude">
  </mat-form-field>

  <p>Longitude</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.parking.longitude">
  </mat-form-field>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Odustani</button>
    <button mat-button [mat-dialog-close]="data.parking" cdkFocusInitial>Dodaj</button>
</mat-dialog-actions>