<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="refresh" th:content="'0; url=' + ${@registrationController.getFrontendLink()}" />
    <title>Preusmjeravamo...</title>
</head>
<body>
<p >Ako se stranica nije automatski preusmjerila kliknite<a th:href="${@registrationController.getFrontendLink()}">ovdje</a>...</p>
</body>
</html>