<div class="forgotten-container">
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
  </mat-form-field>
</div>

<button type="submit" class="mat-stroked-button" style="margin-left: 30%" [disabled]="!email.valid"
        (click)="onSubmit()">Send Email
</button>
<button class="mat-stroked-button" (click)="onBack()">Back</button>
  


