.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .login-form-2{
    padding: 1% 5% 1% 5%;
  }

  .select{
    position: relative;
    left:5%;
  }
  