@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-indigo, 800);
$custom-accent:  mat-palette($mat-yellow);
$custom-warn:    mat-palette($mat-blue, 300);

$custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);