<div class="row edit-form">
  <div class="col-xs-12">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          
            <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      formControlName="name">
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label for="surname">Surname</label>
                      <input
                        type="text"
                        id="surname"
                        class="form-control"
                        formControlName="surname">
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input
                          type="text"
                          id="email"
                          class="form-control"
                          formControlName="email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label for="phone">Phone</label>
                          <input
                            type="text"
                            id="phone"
                            class="form-control"
                            formControlName="phone">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input
                              type="text"
                              id="password"
                              class="form-control"
                              formControlName="password">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                            <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">Save</button>
                            <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
                          </div>
                        </div>

       </form>

  </div>
</div>