.edit-zone{
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.btns{
    margin-left: 40%;
}

label{
    color: white;
}

.crveni{
    background: rgb(133, 22, 22);
}

.btn{
    position: relative;
    right: 5%;
}
.btnc{
    position: relative;
    left: 5%;
}